html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: 0;
}

::-moz-selection {
  background: #e7be00;
  color: #272727;
}

::selection {
  background: #e7be00;
  color: #272727;
}
/* 
  ==========
resets and clearfix
  =========
 */

/* clear fix */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
  *zoom: 1;
}

/* removes padding and border adding by Firefox  */

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

/* resets initial styles so all .button elements start with the same look and can be built upon */

.btn {
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: sans-serif;
}

/*
  =======
page styles
  =======
*/

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
}

img {
  max-width: 100%;
  display: block;
}

s {
  color: #767676;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
}

.top-links p {
  margin: 0;
  padding: 0 0.5rem 2rem;
  text-align: center;
  letter-spacing: 1px;
}

.top-links a,
.product-page-cart-itemname a {
  padding: 1rem 0.5rem 0.25rem;
  color: #272727;
}

.top-links .account a,
.product-page-cart-itemname a,
.top-cart-links {
  text-decoration: none;
}

.top-links .account a,
.product-page-cart-itemname a,
.product-inner header a {
  border-bottom: 0.0625rem solid #767676;
}

.top-cart-links:hover,
.top-cart-links:focus {
  padding-bottom: 1em;
}

.top-links a:hover,
.top-links a:focus,
.product-page-cart-itemname a:hover,
.product-page-cart-itemname a:focus,
.top-cart-links:hover,
.top-cart-links:focus {
  border-bottom: 0.125rem solid #e7be00;
}

.top-links .account,
.top-cart {
  display: inline-block;
  vertical-align: top;
}

#top-cart-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-top: -0.25rem;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.top-cart-links:hover #top-cart-icon,
.top-cart-links:focus #top-cart-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  fill: #272727;
}

.promo-code {
  margin: 0 auto;
}

.promo-color {
  color: #e7be00;
  text-transform: uppercase;
}

.account-cart {
  display: none;
}

.main-header {
  padding: 0 1rem 2rem;
  position: relative;
}

.main-header nav {
  font-size: 1.25rem;
  margin: 2rem 0;
}

h1 {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h1 a {
  color: #272727;
  text-decoration: none;
}


.breadcrumbs .bread-trail::before {
  content: '/';
}

.breadcrumbs a {
  padding: 0.25em 0;
}

.breadcrumbs a:not(.breadcrumb-current) {
  color: #767676;
  text-decoration: none;
  font-style: italic;
}


.breadcrumbs a:not(.breadcrumb-current):hover,
.breadcrumbs a:not(.breadcrumb-current):focus,
.breadcrumb-current {
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 0.125rem solid #e7be00;
}

.breadcrumb-current:hover,
.breadcrumb-current:focus {
  border-color: #2b2b2b;
}

.header-img-container,
.breadcrumbs {
  display: none;
  position: relative;
}

.main-header img {
  max-width: 100%;
  vertical-align: middle;
}

.product-page-title {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 20%;
  padding: 1rem 2rem;
  background: #fff;
}

/*
  =======
category nav styles 
  =======
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0;
}

.main-nav li {
  display: inline-block;
  font-size: 1rem;
}

.sm-hide {
  display: none !important;
}

.main-nav li:not(:first-of-type)::before {
  content: ' / ';
}

.main-nav a {
  display: inline-block;
  padding: 0.25rem;
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-nav a:hover,
.main-nav a:focus {
  box-shadow: 0 0.15em 0 #e7be00;
}

/*
  =======
product page styles 
  =======
*/

.product-container {
  margin: 2rem auto;
  background: #f8f8f8;
}

.product-nav {
  text-align: right;
  padding: 1rem 2rem;
}

.product-nav p {
  color: #767676;
  display: inline-block;
  margin: 0.5em;
}

.product-nav .item-count {
  font-family: 'Cutive Mono', 'Courier New', monospace;
  padding: 0.25em;
  border: 0.0625rem dashed #ccc;
}

.product-nav .current-page {
  font-weight: bold;
  color: #272727;
  display: inline-block;
}

.product {
  max-width: 23rem;
  padding: 1rem;
  text-align: center;
  letter-spacing: 1px;
  margin: auto;
}

.product-inner {
  background: #fff;
  color: #272727;
}

.product h3,
.product-inner p {
  margin: 0;
  padding: 1em 0;
}

.product h3 a {
  color: #272727;
  text-decoration: none;
  padding-bottom: 0.25em;

}

.product h3 a:hover,
.product h3 a:focus {
  outline: 0;
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 0.125rem solid #e7be00;
}

.product header h4 {
  margin: 0;
  padding: 0 1em 0.5em;
  font-weight: 400;
  font-style: italic;
  color: #767676;
  border-bottom: 0.0625rem solid #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-img-wrap {
  padding: 1rem;
  position: relative;
}

.sale-flag {
  padding: 0.5rem 1rem;  
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  z-index: 1;
  background: #3b3b3b;
  color: #f5f5f5;
  font-size: 1rem;
}
.sale-flag::before,
.sale-flag::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
}
.sale-flag::before {
  left: 0;
  bottom: -0.5rem;
  border-width: 0.5rem 0.25rem 0;
  border-color: #272727 transparent;
}
.sale-flag::after {
  right: -1rem;
  top: 0;
  border-width: 1.25rem 1rem 1.25rem 0;
  border-color: #3b3b3b transparent;
}

.product-img-wrap {
  display: block;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-img-wrap img {
  margin: auto;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.product-img-wrap:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product-img-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.product-img-wrap:hover::after {
  background: -webkit-linear-gradient(rgba(0, 0 , 0, 0) 20%, rgba(0, 0, 0, 0.2));
  background: linear-gradient(rgba(0, 0 , 0, 0) 20%, rgba(0, 0, 0, 0.2));
}

.product-price {
  border-top: 0.0625rem solid #eee;
  font-family: 'Cutive Mono';
  font-size: 1.15rem;
}

.product-inner .product-add {
  padding: 0;
}

.product-add .btn {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #e7be00;
  font-weight: bold;
  color: #272727;
}

/*
  =======
shopping cart styles 
  =======
*/

.product-page-cart-summary,
.product-page-cart-totals {
  background: #fff;
  border-top: 0.0625rem dashed #ddd;
}

.product-page-cart-summary h5,
.product-page-cart-totals h5 {
  text-align: center;
  font-size: 1.5rem;
}

.product-page-cart {
  border-collapse: collapse;
  text-align: center;
  margin: auto;

}

.product-page-cart td,
.product-page-cart th {
  padding: 0.5rem 0.75rem 1rem;
}

.product-page-cart thead {
  color: #767676;
  border-bottom: 0.0625rem dashed #ddd;
}

.cart-img-wrap {
  min-width: 6.25rem;
  max-width: 9.375rem;
  background: #fff;
  padding: 0.25rem;
  display: inline-block;
  margin-right: 1rem;
}
.product-page-cart img {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
}

.product-page-cart-item {
  display: inline-block;
  vertical-align: middle;
}

.product-page-cart-item span {
  display: block;
  padding-bottom: 0.35rem;
}

.product-page-cart-itemname {
  margin-bottom: 0.5em;
}

.product-page-item-qty,
.product-total-promo-code {
  border: 0;
  padding: 0.37rem;
  margin: 0 0.25em;
  display: inline-block;
  border: 0.0625rem solid #767676;
  text-align: center;
}

.product-page-item-qty:focus,
.product-total-promo-code:focus {
  border-color: #e7be00;
  box-shadow:  0 0 0 0.125rem #e7be00;
}
.qty-increase,
.qty-decrease {
  padding: 0.25em 0.5em;
  vertical-align: top;
  font-size: 1.2rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.product-page-remove {
  width: 3rem;
  height: 3rem;
  padding: 0.5em;
  background: url('http://res.cloudinary.com/meowwwls/image/upload/v1463082850/md-projects/product-page/delete.svg') no-repeat center center;
  background-size: 1.4rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.qty-increase:hover,
.qty-decrease:hover,
.qty-increase:focus,
.qty-decrease:focus,
.product-page-remove:hover,
.product-page-remove:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.product-page-cart-totals {
  text-align: right;
  margin-right: 1rem;
}

.product-page-cart-totals strong,
.product-page-cart th {
  text-transform: uppercase;
}

.product-page-cart-totals strong {
  margin-right: 0.25em;
}

.cart-price {
  font-family: 'Cutive Mono', 'Courier New', monospace;
}


.product-page-cart-totals .cart-promo-wrap {
  margin-bottom: 2em;
}

.promo-code-label {
  cursor: pointer;
  display: inline-block;
}

.product-total-promo-code {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.promo-apply {
  margin-top: 1rem;
  padding: 0.5em 1em;
}

.product-page-cart-totals p {
  font-size: 1.12rem;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.product-page-cart-checkoutwrap{
  text-align: center;
}

.product-page-update-cart-wrap {
  margin-right: 1rem;
  text-align: right;
}

.product-page-update,
.product-page-cart-checkoutwrap .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;  
  font-size: 1rem;
}

.product-add .btn,
.promo-apply,
.product-page-cart-checkoutwrap .btn,
.product-page-update {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Cutive Mono', 'Courier New', monospace;
}

.product-add .btn:hover,
.product-page-cart-checkoutwrap .btn:hover,
.product-page-update:hover,
.product-page-update:focus,
.promo-apply:hover,
.promo-apply:focus,
.product-add .btn:focus,
.product-page-cart-checkoutwrap .btn:focus {
  background: transparent;
  color: #272727;
  box-shadow: inset 0 0 0 0.25rem #e7be00; 
}

.product-page-update,
.product-page-cart-checkoutwrap .btn,
.promo-apply {
  background: #272727;
  color: white;
  font-weight: bold;
}

.product-page-keepshopping {
  margin-left: 0;
  margin-right: 1rem;
}

.product-add .btn:active,
.product-page-update:active,
.product-page-cart-checkoutwrap .btn:active,
.promo-apply:active {
  background: #e7be00;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.credit {
  font-size: 1rem;
  max-width: 40rem;
  margin: 1rem;
  font-style: italic;
}

.credit a {
  padding: 1rem 0.5rem 0.25rem;
  color: #272727;
  text-decoration: none;
  border-bottom: 1px solid #767676;
}

.credit a:hover,
.credit a:focus {
  border-bottom: 0.125rem solid #e7be00;
  outline: 0;
}

@media screen and (min-width: 29.3rem) {
  h1 {
    font-size: 4.5rem;
  }
  .main-nav ul {
    text-align: justify;
    padding: 0 1rem;
  }
  .sm-hide {
    display: inline-block !important;
  }
  .main-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .main-nav li {
    font-size: 1.15rem;
  }
  .main-nav li:not(:first-of-type)::before {
    content: '';
  }
  .product-list {
    font-size: 0;
  }
  .product {
    display: inline-block;
    width: 50%;
    max-width: 31.25rem;
    vertical-align: top;
    font-size: 1rem;
  }
  .product-nav a {
    padding: 1rem;
  }
  .product-page-update,
  .product-page-cart-checkoutwrap .btn { 
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 50rem) {
  .promo-code {
    float: left;
  }
  .account-cart {
    float: right;
    display: inherit;
  }
  h1 {
    margin: 0 0 0.35em;
    font-size: 6rem;
  }
  .main-container {
    margin: auto;
    padding: 0 1rem;
  }
  .header-img-container,
  .breadcrumbs {
    display: inherit;
  }
  .product {
    width: 33.3333%;
  }
  .promo-apply {
    margin-top: 0;
  }
}

@media screen and (min-width: 62.5rem) {
  .main-nav ul {
    text-align: center;
  }
  .main-nav ul:after {
    content: '';
    display: none;
  }
  .main-nav li {
    margin: 0 4rem;
  }
  .product-page-update-cart-wrap {
    margin-right: 0;
  }
  .product-page-cart-summary,
  .product-page-cart-totals {
    margin: 0 1rem;
    padding: 1rem;
  }
  .product-page-cart td,
  .product-page-cart th {
    padding: 0.5rem 1.2rem 1rem;
  }
}

@media screen and (min-width: 100rem) {
  html {
    font-size: 120%;
  }
  .container {
    max-width: 93rem;
  }
}
