html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  outline: 0;
}

::-moz-selection {
  background: #e7be00;
  color: #272727;
}

::selection {
  background: #e7be00;
  color: #272727;
}
/* 
  ==========
resets and clearfix
  =========
 */

/* clear fix */

.cf:before,
.cf:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
  *zoom: 1;
}

/* removes padding and border adding by Firefox  */

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

/* resets initial styles so all .button elements start with the same look and can be built upon */

.btn {
  padding: 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: sans-serif;
}

/*
  =======
page styles
  =======
*/

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: 'Playfair Display', serif;
}

img {
  max-width: 100%;
  display: block;
}

s {
  color: #767676;
}

a:not(.btn):visited,
a:not(.btn) {
  color: #2b2b2b;
}

a:not(.btn):active {
  background-color: #e7be00;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 1rem;
}

.top-links p {
  text-align: center;
  letter-spacing: 1px;
}

.top-links a,
.product-page-cart-itemname a {
  padding: 0 0.5em 0.25em;
  color: #272727;
}

.cart-item:focus-within {
  background-color: #f1dd83;
}

.top-links .account a,
.product-page-cart-itemname a,
.top-cart-links {
  text-decoration: none;
}

.top-links .account a,
.product-page-cart-itemname a,
.product header a {
  border-bottom: 0.1rem solid #767676;
}

a.top-cart-links {
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
}

.top-links a:hover,
.top-links a:focus,
.product-page-cart-itemname a:hover,
.product-page-cart-itemname a:focus,
.top-cart-links:hover,
.top-cart-links:focus {
  border-bottom-color: #e7be00;
}

.top-links .account,
.top-cart {
  display: inline-block;
  vertical-align: middle;
}

#top-cart-icon {
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.top-cart-links:hover #top-cart-icon,
.top-cart-links:focus #top-cart-icon {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  fill: #272727;
}

.promo-code {
  margin: 0;
}

.promo-color {
  color: #e7be00;
  text-transform: uppercase;
}

.account-cart {
  margin-bottom: 1.5rem;
  text-align: right;
}

.main-header {
  padding: 0 1rem 2rem;
  position: relative;
}

.main-header nav {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  display: none;
}

h1 {
  margin: 0.35em 0;
  font-size: 3rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h1 a {
  color: #272727;
  text-decoration: none;
}

.breadcrumbs .bread-trail::before {
  content: '/';
  padding: 0.25em;
}

.breadcrumbs a {
  padding: 0.25em 0;
  text-decoration: none;
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
}

a.breadcrumb-current {
  border-bottom-color: #e7be00;
}

.breadcrumbs a:not(.breadcrumb-current) {
  color: #767676;
  font-style: italic;
}

.breadcrumbs a:not(.breadcrumb-current):hover,
.breadcrumbs a:not(.breadcrumb-current):focus {
  color: #2b2b2b;
  border-bottom-color: #e7be00;
}

.breadcrumb-current:hover,
.breadcrumb-current:focus {
  border-bottom-color: #2b2b2b;
}

.header-img-container,
.breadcrumbs {
  position: relative;
}

.main-header img {
  max-width: 100%;
  vertical-align: middle;
}

.product-page-title {
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0.25em;
  padding: 0.5em 1em;
  background: #fff;
}

/*
  =======
category nav styles 
  =======
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0;
  display: flex;
  justify-content: space-evenly;
}

.main-nav li {
  display: inline-block;
  font-size: 1rem;
}

.main-nav a {
  display: inline-block;
  padding: 0.25rem;
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-nav a:hover,
.main-nav a:focus {
  box-shadow: 0 0.15em 0 #e7be00;
}

/*
  =======
product page styles 
  =======
*/

.product-container {
  margin: 2rem auto;
  background: #f8f8f8;
}

.product-nav {
  text-align: right;
  padding: 1rem 2rem;
}

.product-nav p {
  color: #767676;
  display: inline-block;
  margin: 0.5em;
}

.product-nav .item-count {
  font-family: 'Cutive Mono', 'Courier New', monospace;
  padding: 0.25em;
  border: 0.0625rem dashed #ccc;
}

.product-nav .current-page {
  font-weight: bold;
  color: #272727;
  display: inline-block;
}

.product {
  max-width: 23rem;
  text-align: center;
  letter-spacing: 1px;
  margin: 1.5rem auto;
  background-color: #fff;
}

.product-inner {
  background: #fff;
  color: #272727;
}

.product h3,
.product-inner p {
  margin: 0;
  padding: 1em 0;
}

.product-name a {
  color: #272727;
  text-decoration: none;
  padding-bottom: 0.25em;
}

.product-name a:hover,
.product-name a:focus {
  outline: 0;
  color: #2b2b2b;
  text-decoration: none;
  border-bottom: 0.125rem solid #e7be00;
}

.product-desc {
  margin: 0;
  padding: 0 1em 0.5em;
  font-weight: 400;
  font-style: italic;
  color: #767676;
  border-bottom: 0.0625rem solid #eee;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-img-wrap {
  padding: 1rem;
  position: relative;
}

.sale-flag {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  z-index: 1;
  background: #3b3b3b;
  color: #f5f5f5;
  font-size: 1rem;
}

.sale-flag::before,
.sale-flag::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.sale-flag::before {
  left: 0;
  bottom: -0.5rem;
  border-width: 0.5rem 0.25rem 0;
  border-color: #272727 transparent;
}
.sale-flag::after {
  right: -1rem;
  top: 0;
  border-width: 1.25rem 1rem 1.25rem 0;
  border-color: #3b3b3b transparent;
}

.product-img-wrap {
  display: block;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product-img-wrap img {
  margin: auto;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.product-img-wrap:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.product-img-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

.product-img-wrap:hover::after {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2));
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.2));
}

.product-price {
  margin: 0;
  padding: 1em;
  border-top: 0.0625rem solid #eee;
  font-family: 'Cutive Mono';
  font-size: 1.15rem;
}

.product-inner .product-add {
  padding: 0;
}

.product-add .btn {
  width: 80%;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #e7be00;
  font-weight: bold;
  color: #272727;
}

.product-add .added {
  background: #272727;
  color: #f2f2f2;
}

.product-add .oos {
  background: #f8f8f8;
  color: #272727;
}

/*
  =======
shopping cart styles 
  =======
*/

.hide-cart {
  display: none;
}

.removing-item {
  animation: removing 450ms forwards;
}

@keyframes removing {
  to {
    opacity: 0;
  }
}

.empty-cart {
  text-align: center;
  font-size: 1.5em;
  background-color: #f8f8f8;
  padding: 1rem;
}

.empty-cart svg {
  fill: #e7be00;
}

.product-page-cart-summary,
.product-page-cart-totals {
  background: #fff;
  border-top: 0.0625rem dashed #ddd;
}

.cart-heading {
  text-align: center;
  font-size: 1.5rem;
}

.product-page-cart {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

.product-page-cart td,
.product-page-cart th {
  padding: 0.5rem 0.75rem 1rem;
}

.product-page-cart thead {
  color: #767676;
  border-bottom: 0.0625rem dashed #ddd;
}

.cart-img-wrap {
  min-width: 6.25rem;
  max-width: 9.375rem;
  background: #fff;
  padding: 0.25rem;
  display: inline-block;
  margin-right: 1rem;
}

.product-page-cart img {
  display: inline-block;
  vertical-align: middle;
  padding: 1rem;
}

.product-page-cart-item {
  display: inline-block;
  vertical-align: middle;
}

.product-page-cart-item span {
  display: block;
  padding-bottom: 0.35rem;
}

.product-page-cart-itemname {
  margin-bottom: 0.5em;
}

.product-page-item-qty,
.product-total-promo-code {
  border: 0;
  padding: 0.37rem;
  margin: 0 0.25em;
  display: inline-block;
  border: 0.0625rem solid #767676;
  text-align: center;
}

.product-page-item-qty:focus,
.product-total-promo-code:focus {
  border-color: #e7be00;
  box-shadow: 0 0 0 0.125rem #e7be00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  width: 3rem;
}

.qty-btn {
  padding: 0.25em 0.5em;
  vertical-align: top;
  font-size: 1.2rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.product-page-remove {
  width: 3rem;
  height: 3rem;
  padding: 0.5em;
  background: url('http://res.cloudinary.com/meowwwls/image/upload/v1463082850/md-projects/product-page/delete.svg')
    no-repeat center center;
  background-size: 1.4rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.qty-btn:hover,
.qty-btn:focus {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.product-page-cart-totals {
  text-align: right;
  margin-right: 1rem;
}

.product-page-cart-totals strong,
.product-page-cart th {
  text-transform: uppercase;
}

.product-page-cart-totals strong {
  margin-right: 0.25em;
}

.cart-price {
  font-family: 'Cutive Mono', 'Courier New', monospace;
}

.product-page-cart-totals .cart-promo-wrap {
  margin-bottom: 2em;
}

.promo-label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.promo-label::after {
  content: ':';
  margin-right: 0.5em;
}

.product-total-promo-code {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.promo-apply {
  margin-top: 1rem;
  padding: 0.5em 1em;
}

.product-page-cart-totals p {
  font-size: 1.12rem;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.product-page-cart-checkoutwrap {
  text-align: center;
}

.product-page-update-cart-wrap {
  margin-right: 1rem;
  text-align: right;
}

.product-page-update,
.product-page-cart-checkoutwrap .btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

[disabled] {
  cursor: not-allowed;
}

.cart-summary-items {
  text-align: right;
  font-size: 1.25em;
}

dl {
  margin-top: 1.5rem;
}

dt,
dd {
  display: inline;
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  font-family: 'Cutive Mono', 'Courier New', monospace;
  margin-bottom: 0.25em;
}

dd:first-of-type {
  font-family: inherit;
  font-style: italic;
}

dt::after {
  content: ':';
  margin-right: 0.5em;
}

dd::after {
  content: '\A';
  white-space: pre;
}

.product-add .btn,
.promo-apply,
.product-page-cart-checkoutwrap .btn,
.product-page-update {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Cutive Mono', 'Courier New', monospace;
}

.product-add .btn:not([disabled]):hover,
.product-page-cart-checkoutwrap .btn:hover,
.product-page-update:hover,
.product-page-update:focus,
.promo-apply:hover,
.promo-apply:focus,
.product-add .btn:focus,
.product-page-cart-checkoutwrap .btn:focus {
  background: transparent;
  color: #272727;
  box-shadow: inset 0 0 0 0.25rem #e7be00;
}

.product-page-update,
.product-page-cart-checkoutwrap .btn,
.promo-apply {
  background: #272727;
  color: white;
  font-weight: bold;
}

.product-page-keepshopping {
  margin-left: 0;
  margin-right: 1rem;
}

.product-add .btn:active,
.product-page-update:active,
.product-page-cart-checkoutwrap .btn:active,
.promo-apply:active {
  background: #e7be00;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

@media screen and (min-width: 46em) {
  h1 {
    font-size: 4.5rem;
  }

  .main-header nav {
    display: block;
  }

  .top-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .main-nav ul {
    padding: 0 1rem;
  }

  .main-nav li {
    font-size: 1.15rem;
  }
  .product-page-title {
    bottom: 20%;
    padding: 1rem 2rem;
    background: #fff;
    font-size: 1.65em;
  }

  .product-list {
    display: flex !important;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product {
    font-size: 1rem;
    margin: 1em;
    width: calc(50% - 2em) !important;
  }

  .product.oos img {
    filter: grayscale(1);
  }

  .product-nav a {
    padding: 1rem;
  }
  .product-page-update,
  .product-page-cart-checkoutwrap .btn {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 50em) {
  .promo-code {
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .account-cart {
    margin-bottom: 0;
    text-align: center;
  }

  h1 {
    font-size: 6rem;
  }
  .main-container {
    margin: auto;
    padding: 0 1rem;
  }

  .promo-apply {
    margin-top: 0;
  }
}

@media screen and (min-width: 62.5em) {
  .main-nav ul {
    text-align: center;
  }

  .main-nav ul:after {
    display: none;
  }
  .main-nav li {
    margin: 0 4rem;
  }

  .product {
    width: calc(calc(100% / 3) - 2em) !important;
  }

  .product-page-update-cart-wrap {
    margin-right: 0;
  }
  .product-page-cart-summary,
  .product-page-cart-totals {
    margin: 0 1rem;
    padding: 1rem;
  }
  .product-page-cart td,
  .product-page-cart th {
    padding: 0.5rem 1.2rem 1rem;
  }
}

@media screen and (min-width: 100rem) {
  html {
    font-size: 120%;
  }
  .container {
    max-width: 93rem;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.site-footer {
  text-align: center;
}

.site-footer a {
  display: inline-block;
  padding: 0.25em;
  border-bottom: 2px solid #e7be00;
  color: #272727;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-weight: bold;
}

.site-footer a:hover,
.site-footer a:focus {
  border-color: #fff;
  background-color: #e7be00;
}
